{% extends "base.html" %}
{%block title%}Welcome To EventVisa{%endblock%}
{%block content%} 
<br>


<body>
 <div id="home">
        <div class="card text-center">
            <h1 class="card-header"><center><bold>Welcome!</bold></center></h1>
            <div class="card-body">
                <h5 class="card-title"><centre>Want To Book For The Upcoming Fun?</centre></h5>
                <p class="card-text"><centre>With EventVisa, book for your favourite movie <bold>WITH AMAZING OFFERS & DEALS</bold></centre></p>
                <a href="movies.html" class="btn btn-primary" v-if="showButton">Book Now</a>
            </div>
        </div>
    </div>


</body>

<div>
<a href='movies.html'><img src="https://images.adsttc.com/media/images/5f7d/fef2/63c0/170a/9100/0273/large_jpg/Jiangnan_Photography.jpg?1602092773" class="img-fluid" alt="movie hall"></a>
</div>


  



   
{% endblock %}

